services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    networks:
      - juego_net

  frontend:
    build:
      context: ./frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - juego_net

networks:
  juego_net:
    driver: bridge
